{% extends 'admin/login_base.html' %}
{% load static %}
{% block body %}
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

		<!-- begin:: Page -->
		<div class="kt-grid kt-grid--ver kt-grid--root">
			<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v6 kt-login--signin" id="kt_login">
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
					<div class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-login__aside">
						<div class="kt-login__wrapper">
							<div class="kt-login__container">
								<div class="kt-login__body">
									<div class="kt-login__logo">
										<a href="#">
											<img src="{% static 'dashboard/assets/media/company-logos/logo-2.png' %}">
										</a>
									</div>

									<div class="kt-login__signin">
										<div class="kt-login__head">
											<h3 class="kt-login__title">Sign In To Admin</h3>
										</div>
										<div class="kt-login__form">

											<form class="kt-form"  method="post">
                                                {% csrf_token %}
												<div class="form-group">
											            {{ form.username.errors }}
                                                        {{ form.username.label_tag }}
                                                    <input type="text" class="form-control" name="username"
                                                           autofocus="" required="" id="id_username">
												</div>
												<div class="form-group">
                                                    {{ form.password.errors }}
                                                    {{ form.password.label_tag }}
													<input class="form-control form-control-last"
                                                           type="password" placeholder="Password"
                                                           name="password" id="id_password">
                                                    <input type="hidden" name="next" value="{{ next }}">
												</div>
												<div class="kt-login__extra">
{#													<label class="kt-checkbox">#}
{#														<input type="checkbox" name="remember"> Remember me#}
{#														<span></span>#}
{#													</label>#}
                                                    {% url 'admin_password_reset' as password_reset_url %}
                                                    {% if password_reset_url %}
													<a href="{{ password_reset_url }}"
                                                       id="kt_login_forgot">Forget Password ?</a>
                                                    {% endif %}
												</div>
                                             {% if form.non_field_errors %}
                                                {% for error in form.non_field_errors %}
                                                <p class="errornote">
                                                    {{ error }}
                                                </p>
                                                {% endfor %}
                                                {% endif %}
												<div class="kt-login__actions">
													<input type="submit"  value="Sign In" id="kt_login_signin_submit" class="btn btn-brand btn-pill btn-elevate">
												</div>
											</form>

										</div>
									</div>
								</div>
							</div>
							<div class="kt-login__account">
								<span class="kt-login__account-msg">
									Don't have an account yet ?
								</span>&nbsp;&nbsp;
								<a href="{% url 'signup' %}" id="kt_login_signup" class="kt-login__account-link">Sign Up!</a>
							</div>
						</div>
					</div>
					<div class="kt-grid__item kt-grid__item--fluid kt-grid__item--center kt-grid kt-grid--ver kt-login__content" style="background-image: url({% static 'dashboard/assets/media//bg/bg-4.jpg' %});">
						<div class="kt-login__section">
							<div class="kt-login__block">
								<h3 class="kt-login__title">Join Our Community</h3>
								<div class="kt-login__desc">
									Lorem ipsum dolor sit amet, coectetuer adipiscing
									<br>elit sed diam nonummy et nibh euismod
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

</html>
{% endblock %}