{% extends 'admin/login_base.html' %}
{% load static %}
{% block body %}
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

		<!-- begin:: Page -->
		<div class="kt-grid kt-grid--ver kt-grid--root">
			<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v6 kt-login--signin" id="kt_login">
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
					<div class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-login__aside">
						<div class="kt-login__wrapper">
							<div class="kt-login__container">
								<div class="kt-login__body">
									<div class="kt-login__logo">
										<a href="#">
											<img src="{% static 'dashboard/assets/media/company-logos/logo-2.png' %}">
										</a>
									</div>
									<div class="kt-login__signin">
										<div class="kt-login__head">
											<h3 class="kt-login__title">Sign up</h3>
										</div>
										<div class="kt-login__form">
											<form class="kt-form"  method="post">
                                                {% csrf_token %}
												<div class="form-group">
                                                    <p class="errornote">{{ errors.username }}</p>
                                                    <input type="text" class="form-control" name="username"
                                                           autofocus=""  placeholder="username" required="">
												</div>
                                                <div class="form-group">
                                                    <p class="errornote">{{ errors.email }}</p>
                                                    <input type="text" class="form-control" name="email"
                                                           autofocus="" placeholder="email" required="" >
												</div>
                                                <div class="form-group">
                                                    <p class="errornote">{{ errors.password }}</p>
                                                    <input type="password" class="form-control" name="password"
                                                           autofocus="" placeholder="password" required="">
												</div>
                                                <div class="form-group">
                                                    <p class="errornote">{{ errors.cpassword }}</p>
                                                    <input type="password" class="form-control" name="confirm_password"
                                                           autofocus="" placeholder="confirm password" required="">
												</div>
												<div class="kt-login__extra">
{#													<label class="kt-checkbox">#}
{#														<input type="checkbox" name="remember"> Remember me#}
{#														<span></span>#}
{#													</label>#}
                                                    {% url 'admin_password_reset' as password_reset_url %}
                                                    {% if password_reset_url %}
													<a href="{{ password_reset_url }}"
                                                       id="kt_login_forgot">Forget Password ?</a>
                                                    {% endif %}
												</div>
												<div class="kt-login__actions">
													<input type="submit"
                                                           value="Sign Up" id="kt_login_signin_submit"
                                                           class="btn btn-brand btn-pill btn-elevate">
												</div>
											</form>

										</div>
									</div>
								</div>
							</div>
							<div class="kt-login__account">
								<span class="kt-login__account-msg">
									Already have a account ?
								</span>&nbsp;&nbsp;
								<a href="{% url 'login' %}" id="kt_login_signup" class="kt-login__account-link">Login</a>
							</div>
						</div>
					</div>
					<div class="kt-grid__item kt-grid__item--fluid kt-grid__item--center kt-grid kt-grid--ver kt-login__content" style="background-image: url({% static 'dashboard/assets/media//bg/bg-4.jpg' %});">
						<div class="kt-login__section">
							<div class="kt-login__block">
								<h3 class="kt-login__title">Join Our Community</h3>
								<div class="kt-login__desc">
									Lorem ipsum dolor sit amet, coectetuer adipiscing
									<br>elit sed diam nonummy et nibh euismod
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

</html>

{% endblock %}