<div class="row">
								<div class="col-xl-4">

									<!--begin:: Widgets/Download Files-->
									<div class="kt-portlet kt-portlet--height-fluid">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Download Files
												</h3>
											</div>
											<div class="kt-portlet__head-toolbar">
												<a href="#" class="btn btn-label-brand btn-bold btn-sm dropdown-toggle" data-toggle="dropdown">
													Latest
												</a>
												<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

													<!--begin::Nav-->
													<ul class="kt-nav">
														<li class="kt-nav__head">
															Export Options
															<i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
														</li>
														<li class="kt-nav__separator"></li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-drop"></i>
																<span class="kt-nav__link-text">Activity</span>
															</a>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-calendar-8"></i>
																<span class="kt-nav__link-text">FAQ</span>
															</a>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-link"></i>
																<span class="kt-nav__link-text">Settings</span>
															</a>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-new-email"></i>
																<span class="kt-nav__link-text">Support</span>
																<span class="kt-nav__link-badge">
																	<span class="kt-badge kt-badge--success">5</span>
																</span>
															</a>
														</li>
														<li class="kt-nav__separator"></li>
														<li class="kt-nav__foot">
															<a class="btn btn-label-danger btn-bold btn-sm" href="#">Upgrade plan</a>
															<a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
														</li>
													</ul>

													<!--end::Nav-->
												</div>
											</div>
										</div>
										<div class="kt-portlet__body">

											<!--begin::k-widget4-->
											<div class="kt-widget4">
												<div class="kt-widget4__item">
													<div class="kt-widget4__pic kt-widget4__pic--icon">
														<img src="{% static 'dashboard/assets/media/files/doc.svg' %}" alt="">
													</div>
													<a href="#" class="kt-widget4__title">
														Metronic Documentation
													</a>
													<div class="kt-widget4__tools">
														<a href="#" class="btn btn-clean btn-icon btn-sm">
															<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
														</a>
													</div>
												</div>
												<div class="kt-widget4__item">
													<div class="kt-widget4__pic kt-widget4__pic--icon">
														<img src="{% static 'dashboard/assets/media/files/jpg.svg' %}" alt="">
													</div>
													<a href="#" class="kt-widget4__title">
														Project Launch Event
													</a>
													<div class="kt-widget4__tools">
														<a href="#" class="btn btn-clean btn-icon btn-sm">
															<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
														</a>
													</div>
												</div>
												<div class="kt-widget4__item">
													<div class="kt-widget4__pic kt-widget4__pic--icon">
														<img src="{% static 'dashboard/assets/media/files/pdf.svg' %}" alt="">
													</div>
													<a href="#" class="kt-widget4__title">
														Full Developer Manual For 4.7
													</a>
													<div class="kt-widget4__tools">
														<a href="#" class="btn btn-clean btn-icon btn-sm">
															<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
														</a>
													</div>
												</div>
												<div class="kt-widget4__item">
													<div class="kt-widget4__pic kt-widget4__pic--icon">
														<img src="{% static 'dashboard/assets/media/files/javascript.svg' %}" alt="">
													</div>
													<a href="#" class="kt-widget4__title">
														Make JS Great Again
													</a>
													<div class="kt-widget4__tools">
														<a href="#" class="btn btn-clean btn-icon btn-sm">
															<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
														</a>
													</div>
												</div>
												<div class="kt-widget4__item">
													<div class="kt-widget4__pic kt-widget4__pic--icon">
														<img src="{% static 'dashboard/assets/media/files/zip.svg' %}" alt="">
													</div>
													<a href="#" class="kt-widget4__title">
														Download Ziped version OF 5.0
													</a>
													<div class="kt-widget4__tools">
														<a href="#" class="btn btn-clean btn-icon btn-sm">
															<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
														</a>
													</div>
												</div>
												<div class="kt-widget4__item">
													<div class="kt-widget4__pic kt-widget4__pic--icon">
														<img src="{% static 'dashboard/assets/media/files/pdf.svg' %}" alt="">
													</div>
													<a href="#" class="kt-widget4__title">
														Finance Report 2016/2017
													</a>
													<div class="kt-widget4__tools">
														<a href="#" class="btn btn-clean btn-icon btn-sm">
															<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
														</a>
													</div>
												</div>
											</div>

											<!--end::Widget 9-->
										</div>
									</div>

									<!--end:: Widgets/Download Files-->
								</div>
								<div class="col-xl-4">

									<!--begin:: Widgets/New Users-->
									<div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													New Users
												</h3>
											</div>
											<div class="kt-portlet__head-toolbar">
												<ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
													<li class="nav-item">
														<a class="nav-link active" data-toggle="tab" href="#kt_widget4_tab1_content" role="tab">
															Today
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#kt_widget4_tab2_content" role="tab">
															Month
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="tab-content">
												<div class="tab-pane active" id="kt_widget4_tab1_content">
													<div class="kt-widget4">
														<div class="kt-widget4__item">
															<div class="kt-widget4__pic kt-widget4__pic--pic">
																<img src="{% static 'dashboard/assets/media/users/100_4.jpg' %}" alt="">
															</div>
															<div class="kt-widget4__info">
																<a href="#" class="kt-widget4__username">
																	Anna Strong
																</a>
																<p class="kt-widget4__text">
																	Visual Designer,Google Inc
																</p>
															</div>
															<a href="#" class="btn btn-sm btn-label-brand btn-bold">Follow</a>
														</div>
														<div class="kt-widget4__item">
															<div class="kt-widget4__pic kt-widget4__pic--pic">
																<img src="{% static 'dashboard/assets/media/users/100_14.jpg' %}" alt="">
															</div>
															<div class="kt-widget4__info">
																<a href="#" class="kt-widget4__username">
																	Milano Esco
																</a>
																<p class="kt-widget4__text">
																	Product Designer, Apple Inc
																</p>
															</div>
															<a href="#" class="btn btn-sm btn-label-warning btn-bold">Follow</a>
														</div>
														<div class="kt-widget4__item">
															<div class="kt-widget4__pic kt-widget4__pic--pic">
																<img src="{% static 'dashboard/assets/media/users/100_11.jpg' %}" alt="">
															</div>
															<div class="kt-widget4__info">
																<a href="#" class="kt-widget4__username">
																	Nick Bold
																</a>
																<p class="kt-widget4__text">
																	Web Developer, Facebook Inc
																</p>
															</div>
															<a href="#" class="btn btn-sm btn-label-danger btn-bold">Follow</a>
														</div>
														<div class="kt-widget4__item">
															<div class="kt-widget4__pic kt-widget4__pic--pic">
																<img src="{% static 'dashboard/assets/media/users/100_1.jpg' %}" alt="">
															</div>
															<div class="kt-widget4__info">
																<a href="#" class="kt-widget4__username">
																	Wiltor Delton
																</a>
																<p class="kt-widget4__text">
																	Project Manager, Amazon Inc
																</p>
															</div>
															<a href="#" class="btn btn-sm btn-label-success btn-bold">Follow</a>
														</div>
														<div class="kt-widget4__item">
															<div class="kt-widget4__pic kt-widget4__pic--pic">
																<img src="{% static 'dashboard/assets/media/users/100_5.jpg' %}" alt="">
															</div>
															<div class="kt-widget4__info">
																<a href="#" class="kt-widget4__username">
																	Nick Stone
																</a>
																<p class="kt-widget4__text">
																	Visual Designer, Github Inc
																</p>
															</div>
															<a href="#" class="btn btn-sm btn-label-primary btn-bold">Follow</a>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="kt_widget4_tab2_content">
													<div class="kt-widget4">
														<div class="kt-widget4__item">
															<div class="kt-widget4__pic kt-widget4__pic--pic">
																<img src="{% static 'dashboard/assets/media/users/100_2.jpg' %}" alt="">
															</div>
															<div class="kt-widget4__info">
																<a href="#" class="kt-widget4__username">
																	Kristika Bold
																</a>
																<p class="kt-widget4__text">
																	Product Designer,Apple Inc
																</p>
															</div>
															<a href="#" class="btn btn-sm btn-label-success">Follow</a>
														</div>
														<div class="kt-widget4__item">
															<div class="kt-widget4__pic kt-widget4__pic--pic">
																<img src="{% static 'dashboard/assets/media/users/100_13.jpg' %}" alt="">
															</div>
															<div class="kt-widget4__info">
																<a href="#" class="kt-widget4__username">
																	Ron Silk
																</a>
																<p class="kt-widget4__text">
																	Release Manager, Loop Inc
																</p>
															</div>
															<a href="#" class="btn btn-sm btn-label-brand">Follow</a>
														</div>
														<div class="kt-widget4__item">
															<div class="kt-widget4__pic kt-widget4__pic--pic">
																<img src="{% static 'dashboard/assets/media/users/100_9.jpg' %}" alt="">
															</div>
															<div class="kt-widget4__info">
																<a href="#" class="kt-widget4__username">
																	Nick Bold
																</a>
																<p class="kt-widget4__text">
																	Web Developer, Facebook Inc
																</p>
															</div>
															<a href="#" class="btn btn-sm btn-label-danger">Follow</a>
														</div>
														<div class="kt-widget4__item">
															<div class="kt-widget4__pic kt-widget4__pic--pic">
																<img src="{% static 'dashboard/assets/media/users/100_2.jpg' %}" alt="">
															</div>
															<div class="kt-widget4__info">
																<a href="#" class="kt-widget4__username">
																	Wiltor Delton
																</a>
																<p class="kt-widget4__text">
																	Project Manager, Amazon Inc
																</p>
															</div>
															<a href="#" class="btn btn-sm btn-label-success">Follow</a>
														</div>
														<div class="kt-widget4__item">
															<div class="kt-widget4__pic kt-widget4__pic--pic">
																<img src="{% static 'dashboard/assets/media/users/100_8.jpg' %}" alt="">
															</div>
															<div class="kt-widget4__info">
																<a href="#" class="kt-widget4__username">
																	Nick Bold
																</a>
																<p class="kt-widget4__text">
																	Web Developer, Facebook Inc
																</p>
															</div>
															<a href="#" class="btn btn-sm btn-label-info">Follow</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!--end:: Widgets/New Users-->
								</div>
								<div class="col-xl-4">

									<!--begin:: Widgets/Last Updates-->
									<div class="kt-portlet kt-portlet--height-fluid">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Latest Updates
												</h3>
											</div>
											<div class="kt-portlet__head-toolbar">
												<a href="#" class="btn btn-label-brand btn-bold btn-sm dropdown-toggle" data-toggle="dropdown">
													Today
												</a>
												<div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">

													<!--begin::Nav-->
													<ul class="kt-nav">
														<li class="kt-nav__head">
															Export Options
															<i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
														</li>
														<li class="kt-nav__separator"></li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-drop"></i>
																<span class="kt-nav__link-text">Activity</span>
															</a>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-calendar-8"></i>
																<span class="kt-nav__link-text">FAQ</span>
															</a>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-link"></i>
																<span class="kt-nav__link-text">Settings</span>
															</a>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-new-email"></i>
																<span class="kt-nav__link-text">Support</span>
																<span class="kt-nav__link-badge">
																	<span class="kt-badge kt-badge--success">5</span>
																</span>
															</a>
														</li>
														<li class="kt-nav__separator"></li>
														<li class="kt-nav__foot">
															<a class="btn btn-label-danger btn-bold btn-sm" href="#">Upgrade plan</a>
															<a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
														</li>
													</ul>

													<!--end::Nav-->
												</div>
											</div>
										</div>
										<div class="kt-portlet__body">

											<!--begin::widget 12-->
											<div class="kt-widget4">
												<div class="kt-widget4__item">
													<span class="kt-widget4__icon">
														<i class="flaticon-pie-chart-1 kt-font-info"></i>
													</span>
													<a href="#" class="kt-widget4__title kt-widget4__title--light">
														Metronic v6 has been arrived!
													</a>
													<span class="kt-widget4__number kt-font-info">+500</span>
												</div>
												<div class="kt-widget4__item">
													<span class="kt-widget4__icon">
														<i class="flaticon-safe-shield-protection  kt-font-success"></i>
													</span>
													<a href="#" class="kt-widget4__title kt-widget4__title--light">
														Metronic community meet-up 2019 in Rome.
													</a>
													<span class="kt-widget4__number kt-font-success">+1260</span>
												</div>
												<div class="kt-widget4__item">
													<span class="kt-widget4__icon">
														<i class="flaticon2-line-chart kt-font-danger"></i>
													</span>
													<a href="#" class="kt-widget4__title kt-widget4__title--light">
														Metronic Angular 7 version will be landing soon...
													</a>
													<span class="kt-widget4__number kt-font-danger">+1080</span>
												</div>
												<div class="kt-widget4__item">
													<span class="kt-widget4__icon">
														<i class="flaticon2-pie-chart-1 kt-font-primary"></i>
													</span>
													<a href="#" class="kt-widget4__title kt-widget4__title--light">
														ale! Purchase Metronic at 70% off for limited time
													</a>
													<span class="kt-widget4__number kt-font-primary">70% Off!</span>
												</div>
												<div class="kt-widget4__item">
													<span class="kt-widget4__icon">
														<i class="flaticon2-rocket kt-font-brand"></i>
													</span>
													<a href="#" class="kt-widget4__title kt-widget4__title--light">
														Metronic VueJS version is in progress. Stay tuned!
													</a>
													<span class="kt-widget4__number kt-font-brand">+134</span>
												</div>
												<div class="kt-widget4__item">
													<span class="kt-widget4__icon">
														<i class="flaticon2-notification kt-font-warning"></i>
													</span>
													<a href="#" class="kt-widget4__title kt-widget4__title--light">
														Black Friday! Purchase Metronic at ever lowest 90% off for limited time
													</a>
													<span class="kt-widget4__number kt-font-warning">70% Off!</span>
												</div>
												<div class="kt-widget4__item">
													<span class="kt-widget4__icon">
														<i class="flaticon2-file kt-font-success"></i>
													</span>
													<a href="#" class="kt-widget4__title kt-widget4__title--light">
														Metronic React version is in progress.
													</a>
													<span class="kt-widget4__number kt-font-success">+13%</span>
												</div>
											</div>

											<!--end::Widget 12-->
										</div>
									</div>

									<!--end:: Widgets/Last Updates-->
								</div>
							</div>