.kt-portlet.kt-portlet--height-fluid.Authentication.and.Authorization {
    max-height: 200px;
}

.kt-list-timeline .kt-list-timeline__items:before {
    background-color: #ffffff;
}

sub.model-admin-sub{
    display: block;
    color: #5869c9;
}

.action_time{
        color: #424e96 !important;
}