{% load customtags %}
{# if list display enabled #}
{% if LD %}
    <div class="kt-portlet__body">
    <div class="tab-content">
        <div class="tab-pane active" id="kt_widget11_tab1_content">
            <div class="kt-widget11">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>

                               {% for name in  display %}
                                   {% if name != 'action_checkbox' %}
                                        <td style="width:1%">
                                                {% cooltitle name %}
                                        </td>
                                   {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for query in queryset %}
                            <tr>
                                {% for name in  display %}
                                    {% if name != 'action_checkbox' %}
                                        <td class="">
                                            <a href="{% coolurl query %}">
                                                {% show_list_name query name %}
                                            </a>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
{#   if list display is not activated #}
    <div class="kt-portlet__body">
    <div class="tab-content">
        <div class="tab-pane active" id="kt_widget11_tab1_content">
            <div class="kt-widget11">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <td style="width:1%">{% cooltitle title %}</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for query in queryset %}
                            <tr>
                                {% for name in  display %}
                                    {% if name != 'action_checkbox' %}
                                        <td class="">
                                        {{ query }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}